Django==4.2.13
psycopg[binary]==3.2.3
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.4.0
django-filter==24.3
Pillow==10.4.0
celery==5.4.0
redis==5.0.8
django-celery-beat==2.6.0
django-celery-results==2.5.1
python-decouple==3.8
whitenoise==6.7.0
gunicorn==22.0.0
coverage==7.6.1
factory-boy==3.3.1
faker==26.1.0
drf-spectacular==0.27.2
django-crispy-forms==2.3
crispy-bootstrap5==2024.2
django-extensions==3.2.3
